body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  background: #111;
  color: #eee;
  overflow-x: hidden;
  text-align: center;
}

/* رسالة ترحيبية */
.welcome-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.welcome-card {
  background: #1a1a1a;
  border: 2px solid #FFD700;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 25px #FFD700;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #FFD700;
  cursor: pointer;
}

/* رأس الصفحة */
header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c0a2e;
  border-bottom: 2px solid #FFD700;
  position: sticky;
  top: 0;
  z-index: 100;
}

.site-title {
  font-size: 24px;
  color: #FFD700;
}

.app-image-container {margin-top: 20px;}
.app-image {
  width: 150px;
  border-radius: 12px;
  border: 2px solid #FFD700;
}

.app-card {
  width: 90%;
  max-width: 600px;
  background: #1a1a1a;
  border: 2px solid #FFD700;
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px 20px;
  box-shadow: 0 0 20px #FFD70055;
}

.promo-text {
  background: #FFD700;
  color: #111;
  font-size: 18px;
  padding: 15px;
  border-radius: 12px;
}

/* زر الذهاب */
.btn-go-download {
  padding: 12px 25px;
  border: 2px solid #FFD700;
  background: #1a1a1a;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.container {
  padding-bottom: 40px;
}

/* الكرت الكبير */
.card {
  width: 90%;
  max-width: 600px;
  background: #1a1a1a;
  border: 2px solid #FFD700;
  border-radius: 20px;
  margin: 30px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;   /* ← يجعل كل شيء في المنتصف */
}

/* الكرت الصغير */
.inner-card {
  width: 80%;
  background: #2a2a2a;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #FFD700;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;   /* ← يجعل النص والزر والكرت الداخلي في المنتصف */
  text-align: center;
}

/* الكرت داخل الكرت */
.inner-inner-card {
  width: 90%;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #FFD700;
  color: #FFD700;
  font-weight: bold;

  margin: 10px auto;
  text-align: center;
}

/* زر النسخ */
.btn-copy {
  padding: 8px 15px;
  background: #FFD700;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

/* زر التحميل */
.btn-download {
  padding: 12px 20px;
  border: 2px solid #FFD700;
  background: #1a1a1a;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.telegram-footer {margin: 20px;}
.telegram-btn {background: #FFD700; padding: 7px 14px; border-radius: 6px; color: black;}

#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
